<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/HeaderStyles.css" rel="stylesheet" />
    <link href="~/css/MainStyles.css" rel="stylesheet" />
    <link href="~/css/FooterStyles.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery-1.11.3.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="main hidden-xs">
        <div class="row">
            <div class="container page_before_header">
                <div class="col-lg-4 logo">
                    <img src="~/images/logo.png" alt="Компания eoc" />
                    <img src="~/images/big-black-divider-n.png" alt="|" />
                </div>
                <div class="col-lg-6 title">
                    <img src="~/images/name_company.png" />
                    @*<p>«Электро Оптик Контроль»</p>
                        <b>Изготовление корпусов для видеокамер</b>*@
                </div>
                <div class="col-lg-2 right_logo">
                    <img src="~/images/right_logo1.png" alt="Логотип с названием сайта" />
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper_fon">
        <div class="wrapper_content">
            @* Блок основгого контента *@
            <div class="wrapper">
                <div class="container-fluid">
                    @*<div id="header" class="clearfix">*@
                    <div class="row">
                        @* Меню хидера *@
                        @* nav - помещает навигацию сайта и отдельные ссылки *@
                        @*<div role="navigation" class="navbar">*@
                        @* Элементы меню *@
                        <div class="container head">
                            @* Реализация бургера при маленьком экране *@
                            <div class="navbar-header">
                                @* data-target="#navbarCollapse" - при нажатии на кнопку мы будем отображать блок с id = navbarCollapse, т.е наше меню *@
                                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                    <span class="sr-only"> Toogle navigation </span>
                                    <span class="icon-bar"> </span>
                                    <span class="icon-bar"> </span>
                                    <span class="icon-bar"> </span>
                                </button>
                            </div>
                            @* navbar-right - прижимает навигацию к правому краю *@
                            @* Здесь id="navbarCollapse" нужен для того, чтобы на мобильных устройствах появился бургер с вертикальным меню *@
                            <div id="navbarCollapse" class="header">
                                <form class="form" asp-action="GetDetailsImage" asp-controller="GetWorks" method="post">
                                    <nav class="menu">
                                        <ul>
                                            <li><button id="list" type="submit" value="main" name="id" class="btn-link">ГЛАВНАЯ</button></li>
                                            <li class="katalog">
                                                <button class="btn-link">КАТАЛОГ</button>
                                                <ul class="catalog_dropdown">
                                                    <li><button id="list" type="submit" value="1" name="id" class="btn-link">Видеокамеры в корпусах КмВК</button></li>
                                                    <li><button id="list" type="submit" value="2" name="id" class="btn-link">Видеокамеры в корпусах КмВК-Т</button></li>
                                                    <li><button id="list" type="submit" value="3" name="id" class="btn-link">Видеокамеры в корпусах КмВК-Л</button></li>
                                                    <li><button id="list" type="submit" value="4" name="id" class="btn-link">Видеокамеры на кронштейнах</button></li>
                                                    <li><button id="list" type="submit" value="5" name="id" class="btn-link">Комплекты для видеонаблюдения</button></li>
                                                    <li><button id="list" type="submit" value="6" name="id" class="btn-link">Корпуса КмВК, кронштейны, металлические боксы</button></li>
                                                </ul>
                                            </li>
                                            <li><button id="list" type="submit" value="foto_collection" name="id" class="btn-link">ФОТОГАЛЕРЕЯ</button></li>
                                            <li><button id="list" type="submit" value="contacts" name="id" class="btn-link">КОНТАКТЫ</button></li>
                                            <li><button id="list" type="submit" value="documentation" name="id" class="btn-link">ДОКУМЕНТАЦИЯ</button></li>
                                        </ul>
                                    </nav>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Выгружаем первые изображения, которые будут являться категориями
    При нажатии также переходим на страницу с конкретными изображениями работ-->
            <div class="photo_projects">
                @model IEnumerable<eoc_kmvk.ru.Models.GetWorks>
                @foreach (var item in Model) {
                    <div id="idImages">
                        <form id="changeFormData" class="form" asp-action="GetChangeData" asp-controller="Admin" method="post">
                            <div class="col-lg-7">
                                <button class="img_work btn-link" name="id" value="@item.Category" type="submit">
                                    <img class="line-1" src="@Url.Content(item.ImagePath.Replace("wwwroot", "~"))" />
                                    <p id="idTitle" class="text-center text-details">@item.NameWork</p>
                                    <p id="idTitle" class="hidden">@item.Category</p>
                                    <p id="idTitle" class="hidden">@item.ID</p>
                                </button>
                            </div>
                            <div class="col-lg-5">
                                <p id="idTitle" class="text-details">@item.DetailsWork</p>
                                @*<input type="hidden" name="number_category" id="number_category" value="@item.Category" />
                        <button type="submit" id="changeFormData" name="change_data" value="@item.ID">Изменить</button>*@
                            </div>
                        </form>
                    </div>
                    <!-- Изменяем данные -->
                    <form asp-action="EditData" asp-controller="Admin" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label>Заголовок изображения: </label><input type="text" name="user_title_image" id="user_title_image" /><br />
                            <label>Детальное описание: </label><input type="text" name="user_details" id="user_details" /><br />
                            <label>Изображение: </label><input type="file" name="user_image" id="user_image" /><br />
                            <label>Цена: </label><input type="text" name="user_price" id="user_price" /><br />
                            <label>Цена без НДС: </label><input type="text" name="user_nds" id="user_nds" /> <br />
                            <label>Категория(номер): </label><input type="text" name="user_category_image" id="user_category_image" />
                            @*<input type="hidden" name="edit_id" id="edit_id" value="@item.ID" />*@
                            @*<input type="hidden" name="edit_image" id="edit_image" value="@Url.Content(item.ImagePath.Replace("wwwroot", "~"))" />
                    <input type="hidden" name="edit_name_work" id="edit_name_work" value="@item.NameWork" />
                    <input type="hidden" name="edit_category" id="edit_category" value="@item.Category" />
                    <input type="hidden" name="edit_details" id="edit_details" value="@item.DetailsWork" />*@
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <button type="submit" value="@item.ID" name="old_id" id="old_id" class="btn btn-default">Изменить</button>
                        </div>
                    </form>
                }
            </div>
            @*<form id="addForm" asp-action="MainPage" asp-controller="Admin" enctype="multipart/form-data" method="post">
                
            </form>*@
        </div>
    </div>
    <!-- Футер -->
    <div class="footer">
        <span>© 2019. ООО «Электро Оптик Контроль». Все права защищены</span>ы
    </div>
</body>
</html>